
Praticas/TP2/zoom_0.mp4

Praticas/TP1/PubSub/.idea/

Praticas/TP1/PubSub/.settings/

Praticas/TP1/PubSub/.classpath

Praticas/TP1/PubSub/.project

Praticas/TP2/SharedQueue_DEALER_ROUTER/.idea/

Praticas/TP3/proxy_XPUB_XSUB/.idea/

*.idea/

*venv/
